/* HOME PAGE STYLES */

.home {

	.home-item {
		height: 100vmin;

	}

	.welcome {
		background-color: $green;
	}

	.projects {
		background-color: $orange;
	}

	.contact {
		background-color: $red;
	}

}



